{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Hi! This is a platform where you can let your ideas flow and be recognized by a mass audience. So, sign up now and get writing!</p>
        <a href="https://about.me/shubratha" target="_blank" 
           class="btn btn-dark">Contact me!</a>
    </div>
</div>
</div>

{% endblock sidebar %}